
- var articles = env.helpers.getContents(contents)
- var currentIndex = articles.map((entry) => entry.metadata.title).indexOf(page.title)
- var next = articles[currentIndex + 1] || false
- var prev = articles[currentIndex - 1] || false

nav(class="article-pagination grid grid--vertical-align")
  div(class="prev grid-item grid-item--half text-left")
    if prev
      div
        small PREV
      a(href=prev.url)= prev.title
  div(class="next grid-item grid-item--half text-right")
    if next
      div
        small NEXT
      a(href=next.url)= next.title
