// Colors
grey-darker = #222324
grey-dark = #54585f
grey = #aeb1b5
grey-light = #d3d6db
grey-lighter = #f5f7fa

blue = #42afe3
green = #97cd76
orange = #f68b39
purple = #847bb9
red = #ed6c63
ruby = #d32562
turquoise = #1fc8db
yellow = #fce473

primary = blue
primary-invert  = turquoise

body-background = white
background = grey-lighter

text = grey-dark
code = red
code-background = background

pre = text
pre-background = background

text-strong = grey-darker


// Links
link = grey-darker
link-invert = darken(grey-darker, 20%)
link-visited = ruby

link-hover = grey-darker

link-active = grey-darker
link-active-border = grey-darker


// Typography
family-serif = "Source Sans Serif", "Georgia", serif
family-sans = "Source Sans Pro", "Helvetica Neue", sans
family-monospace = "Monaco", "Inconsolata", monospace

family-primary = family-serif

size-1 = 48px
size-2 = 40px
size-3 = 28px
size-4 = 24px
size-5 = 21px
size-6 = 18px
size-7 = 15px
size-8 = 11px

size-normal = size-5
size-small = size-7

input-text-size = size-small

// Dimensions
column-gap = 10px
grid-breakpoint = 600px

// Miscellaneous
easing = ease-out
radius = 3px
speed = 86ms
