
.article

  &-wrap
    width 90%
    max-width 760px
    margin 0 auto

  &-header
    height 76vh
    min-height 400px
    margin-bottom 3.476rem
    background-size cover
    background-position center
    background-repeat no-repeat
    color white
    perpendicular()

    h1
      color white

  &-title
    text-transform uppercase

  &-meta
    font-size size-small
    font-style italic

  &-footer
    background-color grey-darker
    padding 2rem 0
    margin-top 4rem
    font-size size-small
    font-family family-sans
    perpendicular(1deg, false, grey-darker)
    a
      color grey

