
.article

  &-header
    height 76vh
    min-height 400px
    margin-bottom 3.476rem
    background-size cover
    background-position center
    background-repeat no-repeat
    background-color grey-darker
    color white
    perpendicular()

    h1
      color white

  &-title
    text-transform uppercase

  &-meta
    font-size size-small
    font-style italic

  &-share
    margin 3rem auto

    a
      border-bottom 0
      padding 0 10px
