
.hero-container
  margin-top 0
  height 100vh
  width 100%
  margin 0

h1.hero-title
  margin-bottom 5px

.hero-links a
  color grey-light
  display inline-block
  margin-right 7px
  font-size 1.5rem
  &:hover
    color grey
