extends partials/layout

block vars
  - var bodyclass = 'article';

block prepend title
  | #{ page.title + ' - '}

block body
  article(class="content content--extend")

    header(class="article-header default-wrap")
        div(class="article-inner")
          nav(class="article-author")
            a(href="/", title="Go home") Jonathan Alvarez
          h1(class="article-title")= page.title
          div(class="article-meta")
            span!= moment(page.metadata.date, 'YYYY-MM-DD').format('MMMM Do YYYY')

    section(class="article-content default-wrap")!= typogr(page.html).typogrify()

    include partials/share

    footer(class="footer-article")
      div(class="default-wrap")
        include partials/pagination
        div(class="footer-colophon text-center")
          small
            a(href="/", title="Go home") JONATHAN ALVAREZ
