extends layout

block body
  div.full-page.grid.grid--vertical-align.grid--horizontal-align
    figure.hero.content
      h1.hero-title= locals.name
      figcaption.hero-caption
        p Frontend developer. I build stuff.
        div.hero-links
          a(href="https://github.com/jonalvarezz", title="Check my code", target="_blank")
            i.fa.fa-github
          a(href="https://twitter.com/jonalvarezz", title="Follow me in Twitter", target="_blank")
            i.fa.fa-twitter
          a(href="mailto:j@jonalvarezz.com?subject=Let's%20Work%20Together", title="Email me and let's work together")
            i.fa.fa-envelope
